#underlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: black;
    padding: 30px;
    overflow: hidden;
    height: 90vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    z-index: 99;
    background: rgba(255, 255, 255, 0.75);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3px);
    display: flex;
    opacity: 1;
    transition: opacity 0.25s ease;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.title {
    padding-top: 100px;
    padding-bottom: 0px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: black;
}

.subtitle {
    font-size: larger;
    padding-bottom: 10px;
}

.button-holder {
    padding-top: 0px;
    max-width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#about {
    display: none;
    font-size: large;
    padding: 50px 200px 50px;
    font-weight: 400;
}

.quote {
    padding: 20px 50px 20px;
}

#results {
    padding: 50px 200px 50px;
    font-weight: 400;
}

a {
    color: black;
}

textarea {
    width: 100%;
    height: 10px;
    box-sizing: border-box;
    resize: none;
    outline: 0;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

textarea:focus {
    border: 2px solid darkred;
}

textarea:hover {
    border: 2px solid darkred;
}

input[type="range"] {
    vertical-align: middle;
    -webkit-appearance: none;
}
   
input[type="range"]:focus {
    vertical-align: middle;
    outline: none;
}
   
input[type="range"]::-webkit-slider-runnable-track {
    vertical-align: middle;
    background: darkred;
    height: 5px;
    border-radius: 2px;
}
   
input[type="range"]::-moz-range-track {
    vertical-align: middle;
    background: darkred;
    height: 5px;
    border-radius: 2px;
}
   

#splice-text {
    visibility: hidden;
}

#sub-box {
    visibility: hidden;
    margin-left: 0px;
}

#results-2 {
    visibility: hidden;
    padding-top: 20px;
}

#slider1 {
    visibility: hidden;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}

button:hover {
    color: darkred;
    border: 1px solid darkred;
}

footer {
    padding-bottom: 10px;
    display: block;
    align-items: right;
    text-align: right;
    color: black;
}

@media (max-width: 1000px) {
    .overlay {
        font-size: medium;
    }

    .title {
        padding-top: 100px;
        padding-bottom: 0px;
        font-size: xx-large;
    }

    .subtitle {
        font-size: large;
    }

    #about {
        font-size: medium;
        padding: 20px;
        font-weight: 400;
    }

    #results {
        padding: 20px;
        font-weight: 400;
    }

    .button-holder {
        max-width: 90%;
    }
}