#underlay {
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: black;
    padding: 30px;
    overflow: hidden;
    height: 90vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    z-index: 99;
    background: rgba(255, 255, 255, 0.75);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3px);
    display: flex;
    opacity: 1;
    transition: opacity 0.25s ease;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.title {
    padding-top: 200px;
    font-size: xxx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: black;
}

.button-holder {
    padding-top: 50px;
    max-width: 75%;
    display: block;
    margin: auto;
}

#about {
    display: none;
    font-size: large;
}

#results {
    padding: 50px 200px 50px;
    font-weight: 400;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}

button:hover {
    color: darkred;
}
